django
django-crispy-forms
django-import-export
django-reversion
django-formtools
future
httplib2
six
django_extensions
django-xadmin-extras
simplejson
eventlet
greenlet
gunicorn
pyPdf
reportlab
jsmin
django-mptt
django-contrib-comments